/* Footer */
<!-- Bounce animation -- > @keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.footer {
  box-sizing: border-box;
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  padding: 60px 80px; /* Top and bottom padding 60px, left and right padding 80px */
}

.footer__contents {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.footer__content-social {
  display: flex;
  flex-direction: column;
}

.footer__logo {
  margin-left: 0px;
  width: 105px;
  height: 39px;
}

.footer__list {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #fff;
}

.footer__list-item {
  margin-bottom: 16px;
}

.footer__list-item:last-child {
  margin-bottom: 0;
}

.footer__content-heading {
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-top: 0%;
}

.footer__content-link {
  color: white;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}
.footer__content-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}
.footer__list-item:last-child {
  margin-bottom: 0;
}

.footer__copyright {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-top: 108px;
  margin-bottom: 0;
  color: white;
  animation: bounce 1s infinite;
}
