/* Header*/
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.header {
  z-index: 3;
  background-image: url(../images/background_header.svg);
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  box-sizing: border-box;
}

.header__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  max-width: 729px;
  margin-top: 183px;
  letter-spacing: -0.6px;
  margin-bottom: 0px;
}
.header__span-accent {
  display: block;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  animation: bounce 1s infinite;
}

.header__description {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  margin-top: 28px;
  margin-bottom: 0%;
}

.header__image {
  z-index: -2;
  position: absolute;
  max-width: 636px;
  right: 20px;
  top: 124px;
  width: 646px;
  height: 568px;
}

.header__footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__paragraph {
  list-style: none;
}

.header__heading {
  margin-bottom: 0%;
}

.header__link {
  padding-left: 0px;
  margin-bottom: 0%;
  margin-top: 0%;
}
