/* Reservation Section */

.reservation {
    background-size: cover;
    background-position: center;
    background-color: #D9E7FF;
    background-image: url(../images/background_reservation.svg);
}

.reservation__title {
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 44px;
line-height: 52px;
text-align: center;
margin-bottom: 80px;
padding-top: 100px;
margin-top: 0px;
}
