
.page{
max-width: 1600px;
min-width: 1100px;
font-size: 16px;
line-height: 20px;
font-family: "Inter", sans-serif;
font-family: "Inter", Arial, Helvetica, sans-serif;
}

h1 {
        font-family: 'Noto Serif', serif;
        font-style: italic;
    }

